<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mean hackathon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
            
            //logic for changing chat displays
            $("#GC").click(function(){
                $(".gamechat").css({"display": "block"})
                $(".worldchat").css({"display": "none"})
            })
            $("#WC").click(function(){
                $(".worldchat").css({"display": "block"})
                $(".gamechat").css({"display": "none"})
            })


            //these variables will track the room ID, whether or not the game is over,
            //and whose turn it is to play
            var roomID;
            var winner;
            var gameOver = false
            var playerNumber;
            var playerID = makeid()
            var playerTurn = 1
            var socket = io()
            var world = [[0,0,0],[0,0,0],[0,0,0]]
            var worldDict = {0 : "hidden", 1 : "x", 2 : "y"}

            socket.on('welcome', (data) => {
                roomID = data.roomID
                playerNumber = data.playerNumber
                console.log("Player number is: " + playerNumber)
                console.log("room number is : " + roomID)
            })

            socket.on("greeting", function(data){
                console.log(data)
            })

            socket.on("updatedGame", function(data){
                
                world = data.world
                gameOver = data.isGameOver
                playerTurn = data.turn
                //i represents rows, j represents columns
                var cell = 1
                for (var i = 0; i < data.world.length; i++){
                    for (var j = 0; j < data.world.length; j++){
                        
                        var displayStyle = worldDict[world[i][j]]
                        if (displayStyle != 'hidden'){
                            $('#' + String(cell)).children('#' + displayStyle).css({'display' : 'block', 'width' : '100%' })
                            // $('#' + String(cell))
                        }
                        console.log(displayStyle)
                        // $('#' + String(cell)).css('background-color', worldDict[world[i][j]])
                        cell++
                    }
                }
                if (data.winner > 0 && data.winner != playerNumber) {
                    alert("You lost :(")
                }
            })

            $("#sendMsg").click(() => {
                socket.emit('newMsg', {message : "hello everyone in room: " + roomID, ID : roomID})
            })


            //logic for updating the game board every time the user clicks a cell
            $('.d').click(function(){

                //only allow the user to click if it's their turn and the game isn't over
                if (playerTurn == playerNumber && world[$(this).attr('row')][$(this).attr('column')] == 0 && !gameOver){
                    $(this).css("background-color", worldDict[playerNumber])
                    world[$(this).attr('row')][$(this).attr('column')] = playerNumber
                    if (playerTurn == 1){
                        playerTurn = 2
                    }
                    else {
                        playerTurn = 1
                    }
                    var winner = detectWinner()
                    socket.emit('userClicked', {ID : roomID, worldArr : world, turn : playerTurn, isGameOver : gameOver, winner : winner})
                    if (winner > 0){
                        alert("You won!!")
                    }
                }
            })


            //resetting the game
            $("#reset").click(function(){
                console.log('resetting')
                world = [[0,0,0],[0,0,0],[0,0,0]]
                resetCells()
                winner = -1
                gameOver = false
                socket.emit('reset', roomID)
            })
            
            socket.on('reset', function(){
                world = [[0,0,0],[0,0,0],[0,0,0]]
                resetCells()
                winner = -1
                gameOver = false
            })


            function resetCells(){
                //i represents rows, j represents columns
                var cell = 1
                for (var i = 0; i < world.length; i++){
                    for (var j = 0; j < world.length; j++){
                        
                        $('#' + String(cell)).children().css('display', 'none')
                        cell++
                    }
                }
            }

            function detectWinner(){
                console.log(world)
                if (world[0][0] == world[0][1] && world[0][1] == world[0][2] && world[0][0] != 0) {
                    gameOver = true
                    
                }
                if (world[1][0] == world[1][1] && world[1][1] == world[1][2] && world[1][0] != 0){
                    gameOver = true
                    
                }
                if (world[2][0] == world[2][1] && world[2][1] == world[2][2] && world[2][0] != 0) {
                    gameOver = true
                    
                }
                
                if (world[0][0] == world[1][0] && world[1][0] == world[2][0] && world[2][0] != 0) {
                    gameOver = true
                    
                }
                
                if (world[0][1] == world[1][1] && world[1][1] == world[2][1] && world[2][1] != 0) {
                    gameOver = true
                    
                }
                if (world[0][2] == world[1][2] && world[1][2] == world[2][2] && world[2][2] != 0) {
                    gameOver = true
                    
                }
                if (world[0][0] == world[1][1] && world[1][1] == world[2][2] && world[2][2] != 0) {
                    gameOver = true
                    
                }
                if (world[0][2] == world[1][1] && world[1][1] == world[2][0] && world[2][0] != 0) {
                    gameOver = true
                    
                }
                if (gameOver) {
                    return playerNumber
                }
                else {
                    return -1
                }
            }

            function makeid() {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for (var i = 0; i < 15; i++)
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return text;
            }

            $("#gameChatSubmit").click(function(){
                if ($("#gameChatText").val() != ""){
                    var newChat = "<p class = 'chats222'> You: " + $("#gameChatText").val() + "</p>"
                    $('#gameInner').append(newChat)
                    socket.emit("newGameChat", {message : $("#gameChatText").val(), ID : roomID, player : playerNumber})
                    $("#gameChatText").val("")
                }
            })
            
            socket.on('newGameChat', function(data){
                if (data.player != playerNumber){
                    var newChat = "<p class = 'chats222'> Opponent: " + data.message + "</p>"
                    $('#gameInner').append(newChat)
                }
            })

            $("#worldChatSubmit").click(function(){
                if ($("#worldChatText").val() != ""){
                    var newChat = "<p class = 'chats222'> You: " + $("#worldChatText").val() + "</p>"
                    $('#worldInner').append(newChat)
                    socket.emit("newWorldChat", {message : $("#worldChatText").val(), playerID : playerID})
                    $("#worldChatText").val("")
                }
            })

            socket.on('newWorldChat', function(data){
                if (data.playerID != playerID){
                    var newChat = "<p class = 'chats222'> Someone says: " + data.message + "</p>"
                    $('#worldInner').append(newChat)
                }
            })
         })
     
     
    </script>
    <style>
        #body{
            background-color: grey;
        }
        .h1{
            font-size: 48;

            text-align: center;
            margin-bottom: 30px;
            text-shadow: 1px 1px yellow;

        }
        .username{
            text-align: center;
            color: white;

        }
        .Game{

            width: 60%;
            min-height: 100px;
            margin-left: 4%;
            margin-right: 1%;
            display: inline-block;
            border: 1px rgba(0, 0, 0, 0.774) solid;
            background-color: black;
        }
        .Chat{
            width: 31%;
            min-height: 100px;
            display: inline-block;
            vertical-align: top;
            border: 1px rgba(0, 0, 0, 0.774) solid;
            background-color: black;

        }
        .recent{
            background-image: linear-gradient(yellow, black);
            width: 100%;
            height: 100px;
            display: inline-block;
            vertical-align: top;
        }
        .player{
            text-align: center;
            color: white;


        }
        .inner1{
            background-image: linear-gradient(black, grey);
            height: 475px;
            width: 100%;
        }
        .inner{
            background-image: linear-gradient(black, yellow);
            height: 335px;
            width: 100%;
            overflow: scroll;
        }
        .gamechat{
            background-color: yellow;
        }
        .worldchat{
            display: none;
        }
        .rg{
            margin-left: 5px;
            color: black;
        }
        .rgs{

            overflow: scroll;

            height: 40px;
            margin-top: -10px;
        }
        .d{
            display: inline-block;
            width: 31%;
            background-color: yellow;
            height: 140px;
            margin-left: 1.5%;
            margin-top: 1.5%;
            vertical-align: top;
        }
        .text{
            width: 85%;
            border: 1px rgba(0, 0, 0, 0.774) solid;
            height: 15px;
            margin-left: 1%

        }
        .send{
            border: 1px rgba(0, 0, 0, 0.774) solid;
            margin-left: 1%;
        }
        .chats222{
            color: white;
            margin-left: 1%;
            text-shadow: 1px 1px black;

        }
        #y{
            display: none;
            width: 100%;
            padding-left: 19%;
            width: 100%;
        }
        #x{
            display: none;
            width: 100%;
            padding-bottom: 0%;
            width: 100%;
            padding-top: 0%;
        }
        .x{
            width: 100%;
            margin-top: 30px;
        }
        .y{
            width: 60%;
        }
        button{
            border-radius: 2px;
        }
        #GC{
            margin-left: 2%;
        }
        .hr{
            color: black;
            width: 55%;
            margin-top: -20px;
            margin-left: 3px;

        }
    </style>
</head>
<body id="body">
    <h1 class="h1">Tic Tac Toe</h1>
    <div class="Game">
        <h3 class="player">Player #</h3>
        <div class="inner1">
            <div class="d" id = '1' row = '0' column = "0">
                <div id="x"><img class="x" src="/images/x.png" alt="x image"></div>
                <div id="y"><img class="y" src="/images/y.png" alt="y image"></div>
            </div>

            <div class="d" id = '2' row = '0' column = "1">
                <div id="x"><img class="x" src="/images/x.png" alt="x image"></div>
                <div id="y"><img class="y" src="/images/y.png" alt="y image"></div>
            </div>
            <div class="d" id = '3' row = '0' column = "2">
                <div id="x"><img class="x" src="/images/x.png" alt="x image"></div>
                <div id="y"><img class="y" src="/images/y.png" alt="y image"></div>
            </div>
            <div class="d" id = '4' row = '1' column = "0">
                <div id="x"><img class="x" src="/images/x.png" alt="x image"></div>
                <div id="y"><img class="y" src="/images/y.png" alt="y image"></div>
            </div>
            <div class="d" id = '5' row = '1' column = "1">
                <div id="x"><img class="x" src="/images/x.png" alt="x image"></div>
                <div id="y"><img class="y" src="/images/y.png" alt="y image"></div>
            </div>
            <div class="d" id = '6' row = '1' column = "2">
                <div id="x"><img class="x" src="/images/x.png" alt="x image"></div>
                <div id="y"><img class="y" src="/images/y.png" alt="y image"></div>
            </div>
            <div class="d" id = '7' row = '2' column = "0">
                <div id="x"><img class="x" src="/images/x.png" alt="x image"></div>
                <div id="y"><img class="y" src="/images/y.png" alt="y image"></div>
            </div>
            <div class="d" id = '8' row = '2' column = "1">
                <div id="x"><img class="x" src="/images/x.png" alt="x image"></div>
                <div id="y"><img class="y" src="/images/y.png" alt="y image"></div>
            </div>
            <div class="d" id = '9' row = '2' column = "2">
                <div id="x"><img class="x" src="/images/x.png" alt="x image"></div>
                <div id="y"><img class="y" src="/images/y.png" alt="y image"></div>
            </div>
            
        </div>


    </div>
    <div class="Chat">
        <h3 class="username">username</h3>

        <button id="GC">GameChat</button>
        <button id="WC">WorldChat</button>
        <button id = 'reset'>New Game</button>

        <div class="gamechat">
            <div  class = 'inner' id="gameInner">
                <p class="chats222">game chats</p>
            </div>
            <span><input id = 'gameChatText' class="text" type="text"><input id = 'gameChatSubmit' class="send" type="submit" value="Send"></span>
        </div>
        <div class="worldchat">
            <div class = 'inner'id="worldInner">
                <p class="chats222">world chats</p>
            </div>
            <span><input id = 'worldChatText' class="text" type="text"><input id = 'worldChatSubmit' class="send" type="submit" value="Send"></span>
        </div>
        <div class="recent">
            <h3 class="rg">Recent Games</h3>
            <hr class="hr">
            <div class="rgs">
                <p class="chats222">none</p>
            </div>
        </div>
    </div>
    
</body>
</html>